version: '3'
services:
   zookeeper:
     image: zookeeper:3.4.10
     ports:
       - "2181:2181"
       - "2888:2888"
       - "3888:3888"
   kafka:
     image: wurstmeister/kafka:1.0.0
     ports:
       - "9092:9092"
     environment:
       KAFKA_ADVERTISED_HOST_NAME: 127.0.01
       KAFKA_CREATE_TOPICS: "Topic1:1:1:delete,testTopic:1:1:delete"
       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
     volumes:
       - /var/run/docker.sock:/var/run/docker.sock
   kafka-manager:
     image: sheepkiller/kafka-manager
     ports:
       - "9000:9000"
     links:
       - kafka
     environment:
       APPLICATION_SECRET: 123456
       ZK_HOSTS: zookeeper:2181
